{{define "content"}}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Item</th>
                <th scope="col">Amount</th>
                <th scope="col">Status</th>
                <th scope="col">Date</th>
                <th scope="col">Refund</th>
            </tr>
            </thead>
            <tbody>
            {{range .}}
                <tr>
                    <td>{{.No}}</td>
                    <td>{{.Description}}</td>
                    <td>${{.Amount}}</td>
                    <td>{{.Status}}</td>
                    <td>{{.UpdatedAt}}</td>
                    <td> {{ if eq .Status "approved"}}
                            <form method="post" action="/orders/refund">
                                <input hidden name="order" value="{{.ID}}">
                                <input type="submit" class="btn btn-primary" value="Refund">
                            </form>
                        {{ end }}
                    </td>
                </tr>
            {{end}}
            </tbody>
        </table>
    </div>
{{end}}